@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@keyframes animateDown {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
